@media (max-width: 55em) {
  .header__title {
    display: flex;
    flex-direction: column;
    gap: 4.6rem;
  }
  .header__img {
    transform: none;
  }
  .header {
    position: relative;
  }
  .nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    position: fixed;
    background-color: #fff;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate(100%);

    transition: all 0.2s;
  }
  .nav-open .nav__links {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav {
    padding: 0;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .icon-mobile-nav[name='close-outline'] {
    display: none;
  }
  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }
  .features {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .features__img:nth-child(1) {
    grid-row: 1;
  }
  .features__img:nth-child(2) {
    grid-row: 3;
  }
  .features__feature {
    margin-bottom: 9.8rem;
  }
  .features__feature:nth-child(2) {
    grid-row: 4;
  }
  /* .features__img:nth-child(2) {
    grid-row: 3;
  } */
  .modal {
    width: 90%;
  }
}

@media (max-width: 43em) {
  html {
    font-size: 58%;
  }
  .section {
    padding: 5rem 3rem;
  }
  .features {
    margin: 0;
  }
  .features__feature {
    width: 100%;
  }
  .btn {
    font-size: 1.6rem;
    padding: 0.4rem 1.2rem;
  }
  .slider {
    max-width: 100%;
    height: 60rem;
  }
  .testimonial {
    width: 95%;
  }
  .testimonial::before {
    top: -4.7rem;
    left: -0.8rem;
    line-height: 1;
    font-size: 11rem;
  }
  .operations {
    margin: 6rem auto 0 auto;
  }
  .footer {
    padding: 5rem 3rem;
  }
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.6rem;
  }
  .footer__item {
    margin-right: 0;
  }
  .operations__content {
    padding: 1.6rem 0;
    background-color: none;
  }
}

@media (max-width: 28em) {
  html {
    font-size: 50%;
  }
  h1 {
    font-size: 4.2rem;
    line-height: 1.35;
  }
  .section__header {
    font-size: 2.8rem;
  }
  .header {
    height: 80vh;
  }
  .btn {
    font-size: 1.19rem;
  }
  .operations__icon {
    width: 5rem;
    height: 5rem;
  }
  .operations__content--active {
    column-gap: 0;
  }
  .operations__icon svg {
    height: 2.4rem;
    width: 2.4rem;
  }
  .slider__btn {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.7);
  }
}
